:root {
  --text-color: rgba(255, 255, 255, 0.95);
  --default-text: clamp(0.9rem, 2vw, 1.15rem);
  --dark-grey: rgb(20, 20, 20);
  --inactive: rgba(255, 255, 255, 0.5);
  --shadow-m: inset 0 2px 4px #00000030, 0 4px 8px #00000015;
}

* {
  margin: 0;
  transition: 0.5s;
  color: var(--text-color);
  font-family: "Google Sans Flex", sans-serif;
}

.fadeIn {
  animation: fadeIn;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes fadeIn {
  from {
    translate: 0 25px;
    opacity: 0;
  }
  to {
    translate: 0 0;
    opacity: 1;
  }
}

button,
a {
  cursor: pointer;
}

p {
  font-size: var(--default-text);
  line-height: calc(150% - 150% * (1 - clamp(1rem, 2%, 1.5rem) / 16px));
}

.smallHeader {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
}

::-webkit-scrollbar {
  width: 0.3vw;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  height: 10px;
}

body {
  background-color: black;
  padding-bottom: 5rem;
  overflow-x: hidden;
}

#navBar {
  position: fixed;
  left: 50%;
  translate: -50% 0;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  border-radius: 0 0 16px 16px;
  box-sizing: border-box;
  padding: 50px 0 10px 0;
  border: transparent 2px solid;
  border-top: none;
  transition: border 0.5s ease, backdrop-filter 0.5s ease,
    padding 0.5s ease-out 0.5s;
}

#navBar[data-scrolled="true"] {
  transition: padding 0.25s ease, border 0.25s ease 0.25s,
    backdrop-filter 0.25s ease 0.25s;
  padding: 10px 5px;
  border: rgba(255, 255, 255, 0.5) 2px solid;
  border-top: none;
  backdrop-filter: blur(50px);
}

#navBar button {
  background: none;
  border: none;
  font-size: clamp(1rem, 3vw, 1.25rem);
  padding: 0 clamp(10px, 3vw, 75px);
  color: var(--inactive);
  text-shadow: 0 0 5px var(--inactive);
  letter-spacing: 0.2rem;
}

@media (width <= 550px) {
  #navBar button {
    letter-spacing: 0;
  }
}

#navBar button.active,
#navBar button:hover {
  color: var(--text-color);
  text-shadow: 0 0 5px var(--text-color);
}

#home {
  width: 100vw;
  height: 125vh;
  position: relative;
  background-image: url("assets/bladerunner.jpg");
  /* animation: movie 400s linear infinite; */
  background-size: cover;
  mask-image: linear-gradient(black, black 75%, transparent);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#home[data-is-ios="true"] {
  background-attachment: scroll;
}

@supports (-webkit-touch-callout: none) {
  #home {
    background-attachment: scroll;
  }
}

#home > :first-child {
  position: absolute;
  top: 50vh;
  left: 50%;
  translate: -50% -50%;
  outline: rgba(255, 255, 255, 0.5) 2px solid;
  padding: clamp(1rem, 3vw, 3rem);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

/* @keyframes movie {
  0% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
} */

.highlight {
  text-shadow: 0 0 15px white;
}
/* 
.softHighlight {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.25);
} */

#home > :first-child p {
  position: relative;
  z-index: 2;
  font-size: clamp(3rem, 10vw, 10rem);
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
  letter-spacing: 1rem;
  margin-right: -1rem;
  width: fit-content;
  line-height: normal;
}

.film {
  top: 0;
  left: 0;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.05),
    rgba(0, 110, 255, 0.05) 3px,
    transparent 3px,
    transparent 15px
  );
  background-size: auto 15px;
  animation: downForever 20s linear infinite;
}

@keyframes downForever {
  to {
    background-position: 0 100%;
  }
}

#about {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

#about > :first-child {
  width: clamp(325px, 80vw, 1000px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 7.5rem;
}

#about > :first-child > :first-child {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about > :first-child > :first-child > :nth-child(2) {
  width: 80%;
}

.sectionHeader {
  font-size: 2.5rem;
  text-shadow: 0 0 15px white;
  letter-spacing: 1rem;
  margin-right: -1rem;
  margin-bottom: 3rem;
}

.centerText {
  text-align: center;
}

#about > :first-child > :nth-child(2) {
  width: 100%;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  height: clamp(3rem, 20vh, 20rem);
  position: relative;
  overflow: hidden;
}

#about > :first-child > :nth-child(2):hover > div {
  animation-play-state: paused;
}

.sliderWrapper {
  position: absolute;
  display: flex;
  height: 100%;
  gap: 1rem;
  will-change: transform;
  padding-left: 1rem;
}

.sliderWrapper.startAnim {
  animation: SlideIn 40s linear infinite;
}

#sliderWrapper1 {
  animation-delay: -20s;
}

#sliderWrapper2 {
  transform: translateX(100%);
}

@keyframes SlideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

#about .sliderItem {
  height: 100%;
  width: auto;
  border-radius: 10px;
}

#highlights {
  padding: 3rem 0;
  width: clamp(325px, 90vw, 1300px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  position: relative;
}

.card {
  background-color: rgb(30, 30, 30);
  padding: 1px;
  border-radius: 10px;
  position: relative;
}

@media (width <= 1250px) {
  #highlights {
    grid-template-columns: repeat(1, 1fr);
    width: clamp(325px, 90vw, 750px);
  }
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  transition: opacity 0.5s ease;
  border-radius: 10px;
  z-index: 1;
  pointer-events: none;
}

#highlights:hover .card::after {
  opacity: 1;
}

.card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.05),
    transparent 40%
  );
  transition: opacity 0.5s ease;
  border-radius: 10px;
  z-index: 3;
  pointer-events: none;
}

.card:hover::before {
  opacity: 1;
}

.card > div {
  position: relative;
  background-color: black;
  border-radius: 10px;
  z-index: 2;
  overflow: hidden;
}

#highlights .card > div {
  display: flex;
  flex-direction: column;
  height: stretch;
}

#highlights .card > div > :first-child {
  width: 100%;
  aspect-ratio: 16/ 9;
  background-size: 100%;
  background-position: center;
  box-sizing: border-box;
  background-clip: content-box;
  background-repeat: no-repeat;
}

#highlights .card > div > :nth-child(2) {
  padding: 2rem;
  background: rgb(15, 15, 15);
  display: flex;
  flex-direction: column;
}

.cardHeader {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.25rem;
}

#projects {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

#projects > :first-child {
  margin-bottom: 3rem;
}

#projectsWrapper {
  width: clamp(325px, 90vw, 1200px);
  display: grid;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

@media (width <= 1250px) {
  #projectsWrapper {
    width: clamp(325px, 90vw, 750px);
  }
}

#projectsWrapper:hover .card::after {
  opacity: 1;
}

@media (width <= 1250px) {
  #projectsWrapper {
    width: clamp(325px, 90vw, 750px);
  }
  #projectsWrapper .card > div {
    flex-direction: column;
  }
  #projectsWrapper .cardContent > :first-child > :nth-child(2) {
    max-height: none;
  }
  .ImageSlider {
    padding-bottom: calc(8px + 1rem);
  }
}

#projectsWrapper .cardContent > * {
  flex: 1 1;
}

#projectsWrapper .cardContent {
  box-sizing: border-box;
  padding: 2rem;
  background: rgb(15, 15, 15);
  display: flex;
  gap: 2rem;
  height: stretch;
}

#projectsWrapper .cardContent > :first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projectsWrapper .cardContent > :first-child > :nth-child(2) {
  max-height: 360px;
  overflow-y: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

@media (width <= 1250px) {
  #projectsWrapper .cardContent > :first-child > :nth-child(2) {
    max-height: none;
  }
}

#projectsWrapper
  .cardContent
  > :first-child
  > :nth-child(2)::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}

#projectsWrapper .cardContent > :nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.ImageSlider {
  flex: 1;
  position: relative;
  box-shadow: var(--shadow-m);
  border-radius: 10px;
}

.ImageSlider > :first-child {
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: 16/9;
  width: 100%;
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 1px;
}

.ImageSlider :first-child img {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
  scroll-snap-align: start;
}

.ImageSlider > :nth-child(2) {
  left: 50%;
  translate: -50%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
}

.ImageSlider > :nth-child(2) > a {
  aspect-ratio: 1;
  background-color: rgba(255, 255, 255);
  opacity: 0.5;
  width: 8px;
  border-radius: 50%;
}

.ImageSlider > :nth-child(2) > a:hover,
.ImageSlider > :nth-child(2) > a.active {
  opacity: 1;
}
